Source: nowp
Section: utils
Priority: optional
Maintainer: 0xCircuitBreaker <0xcircuitbreaker@protonmail.ch>
Build-Depends:
 bash-completion,
 debhelper-compat (= 10),
 dh-exec,
 lcov,
 libboost-chrono-dev,
 libboost-filesystem-dev,
 libboost-system-dev,
 libboost-test-dev,
 libboost-thread-dev,
 libssl-dev,
 libdb++-dev,
 libevent-dev,
 libleveldb-dev,
 libminiupnpc-dev,
 libprotobuf-dev,
 libqrencode-dev,
 libsqlite3-dev,
 libunivalue-dev,
 libzmq3-dev,
 pkg-config,
 protobuf-compiler,
 python3,
 qt5-qmake,
 qtbase5-dev,
 qttools5-dev-tools,
Standards-Version: 3.9.2
Homepage: https://www.nowput.org/
Vcs-Git: git://github.com/NowputFinance/nowp.git
Vcs-Browser: https://github.com/NowputFinance/nowp
Rules-Requires-Root: no

Package: nowpd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Nowp is a crypto-currency project forked from Bitcoin with aim to achieve
 energy-efficiency and keep as much as possible the original Bitcoin's
 preferable properties.
 .
 This package provides the daemon, nowpd, and the CLI tool
 nowp-cli to interact with the daemon.

Package: nowp-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Nowp is a crypto-currency project forked from Bitcoin with aim to achieve
 energy-efficiency and keep as much as possible the original Bitcoin's
 preferable properties.
 .
 This package provides Nowp-Qt, a GUI client for Nowp based on Qt.

Package: nowp-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Peer-to-peer digital currency - standalone transaction tool
 Nowp is a crypto-currency project forked from Bitcoin with aim to achieve
 energy-efficiency and keep as much as possible the original Bitcoin's
 preferable properties.
 This package provides nowp-tx, a command-line transaction creation
 tool which can be used without a peercoin daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
