pkgbase = nowp
	pkgdesc = A peer-to-peer network-based digital currency
	pkgver = 0.12.3
	pkgrel = 2
	url = https://www.nowput.org/
	arch = x86_64
	license = MIT
	makedepends = boost
	makedepends = qt5-tools
	depends = boost-libs
	depends = db
	depends = libevent
	depends = miniupnpc
	depends = openssl
	depends = qrencode
	depends = qt5-base
	depends = zeromq
	source = nowp-0.12.3.tar.gz::https://github.com/NowputFinance/nowp/archive/refs/tags/v0.12.3nowp.tar.gz
	b2sums = 3d0a387e96cd11c3cd946fd9e5b3a3353f553f152c5d585baf8338c0de628f52a3b94d0805f0c9ab2f222680fca10342461d43804d7de086868e7cd9f9f79c31

pkgname = nowp-cli
	pkgdesc = A peer-to-peer network-based digital currency - RPC client
	depends = boost-libs
	depends = libevent

pkgname = nowp-daemon
	pkgdesc = A peer-to-peer network-based digital currency - daemon
	depends = boost-libs
	depends = db
	depends = libevent
	depends = miniupnpc
	depends = zeromq
	backup = etc/nowp/nowp.conf

pkgname = nowp-qt
	pkgdesc = A peer-to-peer network-based digital currency - Qt
	depends = boost-libs
	depends = db
	depends = libevent
	depends = miniupnpc
	depends = openssl
	depends = qrencode
	depends = qt5-base
	depends = zeromq

pkgname = nowp-tx
	pkgdesc = A peer-to-peer network-based digital currency - transaction tool
	depends = boost-libs
