pkgbase = nowp
	pkgdesc = A peer-to-peer network-based digital currency
	pkgver = 0.12.3.2
	pkgrel = 2
	url = https://www.nowput.org/
	arch = x86_64
	license = MIT
	makedepends = boost
	makedepends = qt5-tools
	depends = boost-libs
	depends = db
	depends = libevent
	depends = miniupnpc
	depends = openssl
	depends = qrencode
	depends = qt5-base
	depends = zeromq
	source = nowp-0.12.3.2.tar.gz::https://github.com/0xcircuitbreaker/nowp/archive/refs/tags/v0.12.3.2nowp.tar.gz
	b2sums = 208c6357766afb9991cfc09d43076b3c475dce4d3a62355e7321e693b9a585755d730b535f0c4ef049422c868fe4302372f719bd54e7e5b772d8645a5d2be81a

pkgname = nowp-cli
	pkgdesc = A peer-to-peer network-based digital currency - RPC client
	depends = boost-libs
	depends = libevent

pkgname = nowp-daemon
	pkgdesc = A peer-to-peer network-based digital currency - daemon
	depends = boost-libs
	depends = db
	depends = libevent
	depends = miniupnpc
	depends = zeromq
	backup = etc/nowp/nowp.conf

pkgname = nowp-qt
	pkgdesc = A peer-to-peer network-based digital currency - Qt
	depends = boost-libs
	depends = db
	depends = libevent
	depends = miniupnpc
	depends = openssl
	depends = qrencode
	depends = qt5-base
	depends = zeromq

pkgname = nowp-tx
	pkgdesc = A peer-to-peer network-based digital currency - transaction tool
	depends = boost-libs
